<h1>Password field</h1>

<%= form_with(model: @form, url: "/demo", builder: StimulusPlumbers::Form::Builder) do |f| %>
  <%= f.password_field :password, label: "Password", required: true, reveal: true %>
<% end %>
