# Gem build artifacts
/pkg/
*.gem

# RSpec
.rspec_status

# Coverage reports
/coverage/

# IDE files
.DS_Store
.idea/
.vscode/

# Bundler
/.bundle/
/vendor/bundle/

# Node
/node_modules/

# Generated assets
/test/sandbox/public/tailwind.css

# Playwright
/playwright-report/
/test-results/
